<h3>Translate Model</h3>
<label><span class="label label-info">Info:</span>
        Configure the following regex so the plugin can properly work with your gcode files.
</label>
<!-- Point Probing -->
<form class="form-horizontal">
    <div class="control-group">
        <span class="control-label">{{ _('Layer Start Regex:')}}</span>
        <div class="controls">
            <input type="text" class= "input-block-level" data-bind="value: settingsViewModel.settings.plugins.translatemodel.layerStartRegex"/>
            <span class="help-inline">This should trigger at the start of each layer, you can simplify this to only match your slicer's layer marker</span>
        </div>
    </div>
    <div class="control-group">
        <span class="control-label">{{ _('Translate Stop Regex:')}}</span>
        <div class="controls">
            <input type="text" class= "input-block-level" data-bind="value: settingsViewModel.settings.plugins.translatemodel.stopRegex"/>
            <span class="help-inline">This should trigger at the end of your printed object before the print head homes</span>

        </div>
    </div>
</form>

<!-- Translate Modal - - Used in main screen not in settings -->
<div id="translate-model-modal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Translate Model</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row-fluid">
            <input type="text" id="disabledTextInput" disabled class="span12 pull-left" placeholder="Select a file in the file pane" data-bind="value: translateFile">
        </div>
        <form class="form-horizontal">
            <button data-bind="click: safetyButton" style="visibility: hidden"></button>
            <div class="row-fluid">
                <div class="span3">
                    <h4>X</h4>
                </div>
                <div class="span3">
                    <h4>Y</h4>
                </div>
            </div>
            <div data-bind="foreach: shifts">
                <div class="row-fluid" style="margin-bottom: 5px">
                    <div class="input-append span3">
                        <input type="number" step="0.001" class="input-small text-right" data-bind="value: $data[0]">
                        <span class="add-on">mm</span>
                    </div>
                    <div class="input-append span3">
                        <input type="number" step="0.001" class="input-small text-right" data-bind="value: $data[1]">
                        <span class="add-on">mm</span>
                    </div>
                    <button title="Remove Shift" class="btn btn-danger span1"
                        data-bind="click: $parent.removeTranslation, enable: $index">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
            <button title="Add Shift" class="btn btn-primary" data-bind="click: addTranslation">
                <i class="fa fa-plus"></i>
            </button>
        </form>
        <form class=".inline-form">
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate" id="doNothingRadio" value="nothing" checked> Do Nothing
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasPermissionKo(access.permissions.FILES_SELECT)" id="loadRadio" value="load"> Load
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printRadio" value="print"> Print
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printAndDeleteRadio" value="printAndDelete"> Print and Delete
            </label>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: preview, visible: gcodeViewModel" href="#translate-gcode-preview-modal" data-toggle="modal" title="Translate Model Gcode Preview">
            <i class="fas fa-search"></i>
        </button>
        <button title="Translate" class="btn btn-primary" data-bind="click: translate, enable: loginState.hasPermissionKo(access.permissions.FILES_UPLOAD) && translateFile() !== '' " data-dismiss="modal">
            <i class="fa fa-arrows-alt"></i>
        </button>
    </div>
</div>

<!-- Translate Gcode Preview Modal - - Pops up with a preview of current set of shifts -->
<div id="translate-gcode-preview-modal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Translate Model Gcode Preview</h3>
    </div>
    <div id="TM-GcodePreview" class="modal-body canvas_container">
    </div>
    <div class="modal-footer">
        <button title="Translate" class="btn btn-primary" data-dismiss="modal">Done</button>
    </div>
</div>
