<!-- <h1>Translate Model</h1>

<div class="row-fluid">
    <input type="text" id="disabledTextInput" disabled class="span12 pull-left" placeholder="Select a file in the file pane" data-bind="value: translateFile">
</div>
<div class="row-fluid">
    <div class="input-prepend input-append span6">
        <span class="add-on">X:</span>
        <input type="number" data-bind="value: xShift" placeholder="0.0" step=0.001>
        <span class="add-on">mm</span>
    </div>
    <div class="input-prepend input-append span6">
        <span class="add-on">Y:</span>
        <input type="number" data-bind="value: yShift" placeholder="0.0" step=0.001>
        <span class="add-on">mm</span>
    </div>
</div>
<form class=".inline-form">
    <label class="radio inline">
        <input type="radio" data-bind="checked: afterTranslate" id="doNothingRadio" value="nothing" checked> Do Nothing
    </label>
    <label class="radio inline">
        <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasPermissionKo(access.permissions.FILES_SELECT)" id="loadRadio" value="load"> Load
    </label>
    <label class="radio inline">
        <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printRadio" value="print"> Print
    </label>
    <label class="radio inline">
        <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printAndDeleteRadio" value="printAndDelete"> Print and Delete
    </label>
</form>

<div class="row-fluid">
    <button title="Translate" class="btn btn-primary span1 pull-right" data-bind="click: translate, enable: loginState.hasPermissionKo(access.permissions.FILES_UPLOAD) && translateFile() !== '' ">
        <i class="fa fa-arrows-alt"></i>
    </button>
</div> -->

<div id="translate-model-modal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Translate Model</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="row-fluid">
            <input type="text" id="disabledTextInput" disabled class="span12 pull-left" placeholder="Select a file in the file pane" data-bind="value: translateFile">
        </div>
        <div class="row-fluid">
            <div class="input-prepend input-append">
                <span class="add-on">X:</span>
                <input type="number" class="input-small" data-bind="value: xShift" placeholder="0.0" step=0.001>
                <span class="add-on">mm</span>
            </div>
            <div class="input-prepend input-append">
                <span class="add-on">Y:</span>
                <input type="number" class="input-small" data-bind="value: yShift" placeholder="0.0" step=0.001>
                <span class="add-on">mm</span>
            </div>
        </div>
        <form class=".inline-form">
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate" id="doNothingRadio" value="nothing" checked> Do Nothing
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasPermissionKo(access.permissions.FILES_SELECT)" id="loadRadio" value="load"> Load
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printRadio" value="print"> Print
            </label>
            <label class="radio inline">
                <input type="radio" data-bind="checked: afterTranslate, enable: loginState.hasAllPermissionsKo(access.permissions.FILES_SELECT, access.permissions.PRINT)" id="printAndDeleteRadio" value="printAndDelete"> Print and Delete
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button title="Translate" class="btn btn-primary span1 pull-right" data-bind="click: translate, enable: loginState.hasPermissionKo(access.permissions.FILES_UPLOAD) && translateFile() !== '' " data-dismiss="modal">
            <i class="fa fa-arrows-alt"></i>
        </button>
    </div>
</div>
