<h1>Translate Model</h1>

<div class="row-fluid">
    <button title="Refresh Files" class="btn btn-primary pull-left span1" data-bind="click: updateFiles, enable: loginState.hasPermissionKo(access.permissions.FILES_LIST)">
        <i class="fa fa-sync"></i>
    </button>
    <select id="translate_table" class="span12 pull-left" data-bind="visible: loginState.hasPermissionKo(access.permissions.FILES_LIST), value: translateFile">
        <option value="" disabled selected>Select a File</option>
    </select>
</div>
<div class="row-fluid">
    <span>X: </span>
    <input type="number" class="span3" data-bind="value: xShift" placeholder="0.0" step=0.001>
    <span>Y: </span>
    <input type="number" class="span3" data-bind="value: yShift" placeholder="0.0" step=0.001>
    <button title="Translate" class="btn btn-primary span1 pull-right" data-bind="click: translate, enable: loginState.hasPermissionKo(access.permissions.FILES_UPLOAD)">
        <i class="fa fa-arrows-alt"></i>
    </button>
</div>
